# Import Library

In [1]:
!pip install pymysql
!pip install xmltodict
!pip install cryptography

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl (43kB)
     |████████████████████████████████| 51kB 7.0MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Installing collected packages: xmltodict
Successfully installed xmltodict-0.12.0
Collecting cryptography
  Downloading https://files.pythonhosted.org/packages/b2/26/7af637e6a7e87258b963f1731c5982fb31cd507f0d90d91836e446955d02/cryptography-3.4.7-cp36-abi3-manylinux2014_x86_64.whl (3.2MB)
     |████████████████████████████████| 3.2MB 22.1MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.14.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.20)
Installing collected packages: cryptography
Successfully installed cryptography-3.4.7

In [2]:
import json
import urllib
import pandas as pd
from urllib.parse import urlencode, quote_plus, unquote, quote
from urllib.request import urlopen
from pandas.io.json import json_normalize
from sqlalchemy import create_engine
import pymysql
import datetime as dt
import sklearn
from sklearn.preprocessing import LabelEncoder
import json
import xmltodict
import multiprocessing as mp
import cryptography

pymysql.install_as_MySQLdb()
import MySQLdb

pd.options.display.max_colwidth = 100

# Dataframe make function

In [3]:
service_key = 'SE0dHlfRrFs9F7Z8K6y6qmYRqrAFPtIrJnMdsrJLTMm1y5JvTVKl5Z8JpG4%2BBcvj%2Bv9kS1d1%2B8gQBmmxcMqMXg%3D%3D'

## Election Code dataframe make function

In [4]:
def get_election_df(pg_num = 1, num_row = 100):
  election_base_url = 'http://apis.data.go.kr/9760000/CommonCodeService/getCommonSgCodeList'

  page_no = str(pg_num)
  num_of_rows = str(num_row)                                  # maximum 34 datas

  queryParams = '?' + urlencode({
      quote_plus('pageNo') : page_no,
      quote_plus('numOfRows') : num_of_rows,
      quote_plus('resultType') : 'json',
      quote_plus('ServiceKey') : service_key 
  })

  API_election_code_url = election_base_url + unquote(queryParams)

  # Election code load

  '''
  < election code >
  (0)대표선거명               
  (1)대통령,(2)국회의원,(3)시도지사,(4)구시군장,(5)시도의원,(6)구시군의회의원
  (7)국회의원비례대표,(8)광역의원비례대표,(9)기초의원비례대표,(10)교육의원,(11)교육감
  '''

  response = urlopen(API_election_code_url)
  json_str = response.read()

  json_object = json.loads(json_str)

  body = [json_object['getCommonSgCodeList']['item']]

  election_code_data = pd.json_normalize(json_object['getCommonSgCodeList']['item'])
  
  return election_code_data

## Candidate Info dataframe make function

In [5]:
def get_candidate_df(sgId, sgTypecode, num_of_row=1000):
  candidate_base_url = 'http://apis.data.go.kr/9760000/PofelcddInfoInqireService/getPofelcddRegistSttusInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('numOfRows') : str(num_of_row),        # optional
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sgTypecode') : str(sgTypecode),       # load from election code
      quote_plus('sggName') : '',                       # optional
      quote_plus('sdName') : '',                        # optional
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_candidate_url = candidate_base_url + unquote(queryParams)

  # candidate info load

  response = urlopen(API_candidate_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getPofelcddRegistSttusInfoInqire']['item']]

  candidate_data = pd.json_normalize(json_object['getPofelcddRegistSttusInfoInqire']['item'])

  candidate_data.rename(columns={'HUBOID' : 'cnddtId', 'JD_NAME': 'partyName'}, inplace=True)

  return candidate_data

## Elction Promise dataframe make function

In [6]:
def get_promise_df(sgId, sgTypecode, hudoId):
  # 선거종료 후 데이터가 갱신되는 시점부터는 당선인의 공약 정보만 제공

  promise_base_url = 'http://apis.data.go.kr/9760000/ElecPrmsInfoInqireService/getCnddtElecPrmsInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sgTypecode') : str(sgTypecode),       # load from election code
      quote_plus('cnddtId') : str(hudoId),              # parameter name is cnddtId but DB column name is HUBOID
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_promise_url = promise_base_url + unquote(queryParams)

  # promise load

  response = urlopen(API_promise_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getCnddtElecPrmsInfoInqire']['item']]

  promise_data = pd.json_normalize(json_object['getCnddtElecPrmsInfoInqire']['item'])

  return promise_data

## Polls Info dataframe make function

### Pre polls info dataframe make function

In [7]:
def get_prepoll_df(sgId, sdName):
  prepoll_base_url = 'http://apis.data.go.kr/9760000/PolplcInfoInqireService2/getPrePolplcOtlnmapTrnsportInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sdName') : quote(sdName),             # must input parameter, query parma is korean, so wrap the quote
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_prepoll_url = prepoll_base_url + unquote(queryParams)

  response = urlopen(API_prepoll_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getPrePolplcOtlnmapTrnsportInfoInqire']['item']]

  prepoll_data = pd.json_normalize(json_object['getPrePolplcOtlnmapTrnsportInfoInqire']['item'])
  return prepoll_data

### Main polls info dataframe make function

In [8]:
def get_mainpoll_df(sgId, sdName):
  poll_base_url = 'http://apis.data.go.kr/9760000/PolplcInfoInqireService2/getPolplcOtlnmapTrnsportInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sdName') : quote(sdName),             # must input parameter, query parma is korean, so wrap the quote
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_poll_url = poll_base_url + unquote(queryParams)

  response = urlopen(API_poll_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getPolplcOtlnmapTrnsportInfoInqire']['item']]

  poll_data = pd.json_normalize(json_object['getPolplcOtlnmapTrnsportInfoInqire']['item'])
  return poll_data

## Politician dataframe make function

### Current Politician

In [9]:
def get_curr_politician_mem(numOfRows=1000):
  curr_politician_base_url = 'http://apis.data.go.kr/9710000/NationalAssemblyInfoService/getMemberCurrStateList'

  queryParams = '?' + urlencode({
      quote_plus('numOfRows') : numOfRows,
      quote_plus('resultType') : 'json',   
      quote_plus('ServiceKey') : service_key
  })

  API_curr_politician_url = curr_politician_base_url + unquote(queryParams)

  response = urlopen(API_curr_politician_url)
  json_str = response.read().decode('utf-8')
  json_str = json.dumps(xmltodict.parse(json_str), indent=4)

  json_object = json.loads(json_str)

  curr_politician_data = pd.json_normalize(json_object['response']['body']['items']['item'])

  return curr_politician_data

In [10]:
get_curr_politician_mem().head()

    deptCd empNm         engNm  ...   num     origNm reeleGbnNm
0  9771230   강기윤    KANG GIYUN  ...  2685  경남 창원시성산구         재선
1  9771142   강대식   KANG DAESIK  ...  3050     대구 동구을         초선
2  9771174   강득구   KANG DEUKGU  ...  3085  경기 안양시만안구         초선
3  9771233   강민국   KANG MINKUK  ...  3091    경남 진주시을         초선
4  9771283   강민정  KANG MINJUNG  ...  3019       비례대표         초선

[5 rows x 8 columns]

### Member detail

In [11]:
def get_politician_detail(dept_code, numOfRows=1000):
  politician_detail_base_url = 'http://apis.data.go.kr/9710000/NationalAssemblyInfoService/getMemberDetailInfoList'

  queryParams = '?' + urlencode({
      quote_plus('numOfRows') : numOfRows,
      quote_plus('dept_cd') : dept_code,
      quote_plus('resultType') : 'json',   
      quote_plus('ServiceKey') : service_key
  })

  API_politician_detail_url = politician_detail_base_url + unquote(queryParams)

  response = urlopen(API_politician_detail_url)
  json_str = response.read().decode('utf-8')
  json_str = json.dumps(xmltodict.parse(json_str), indent=4)

  json_object = json.loads(json_str)

  politician_detail_data = pd.json_normalize(json_object['response']['body']['item'])

  return politician_detail_data

In [ ]:
get_politician_detail(9771106)

                assemEmail     assemTel  ...   shrtNm     staff
0  nyleetogether@gmail.com  02-784-3866  ...  외교통일위원회  노창훈, 이제이

[1 rows x 16 columns]

## Winner info dataframe

In [12]:
def get_winner_df(sgId, sgTypecode, num_of_row=1000):
  winner_base_url = 'http://apis.data.go.kr/9760000/WinnerInfoInqireService2/getWinnerInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('numOfRows') : str(num_of_row),        # optional
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sgTypecode') : str(sgTypecode),       # load from election code
      quote_plus('sggName') : '',                       # optional
      quote_plus('sdName') : '',                        # optional
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_winner_url = winner_base_url + unquote(queryParams)

  # candidate info load

  response = urlopen(API_winner_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getWinnerInfoInqire']['item']]

  winner_data = pd.json_normalize(json_object['getWinnerInfoInqire']['item'])

  return winner_data

In [ ]:
get_winner_df(20160413, 4)

  NUM     SG_ID SG_TYPECODE  ...                      CAREER2   DUGSU DUGYUL
0   1  20160413           4  ...             (전) 대구광역시 문화체육국장  147433  60.79
1   2  20160413           4  ...           (전)청와대 경제수석실 선임행정관   27191  52.29
2   3  20160413           4  ...  (현)더불어민주당 경기도당민생경제특별위원회 위원장   46009  51.91
3   4  20160413           4  ...                (전)구리시 주민지원국장   37490  42.89
4   5  20160413           4  ...                (전)대전지방국토관리청장   18453  53.63
5   6  20160413           4  ...              (전)국민권익위원회 상임위원   75383   52.1
6   7  20160413           4  ...               (전)경상남도 기획조정실장  116932   50.2
7   8  20160413           4  ...               (전)제53대 거창경찰서장   15964  45.96

[8 rows x 24 columns]

# DataFrame load test

## Election code load

In [ ]:
get_election_df().head()

  NUM     SG_ID      SG_NAME SG_TYPECODE SG_VOTEDATE
0   1  20160413  제20대 국회의원선거           0    20160413
1   2  20160413       국회의원선거           2    20160413
2   3  20160413    구·시·군의장선거           4    20160413
3   4  20160413    시·도의회의원선거           5    20160413
4   5  20160413  구·시·군의회의원선거           6    20160413

## Cadidate info load

In [ ]:
get_candidate_df(20160413, 2)['STATUS'].unique()

array(['등록', '등록무효', '사퇴'], dtype=object)

## Promise load

In [ ]:
# 당선인이 나온 후엔 당선인 공약만 확인 가능
data = get_promise_df(20210407, 3, 100138272)
data

  num      sgId sgTypecode  ... prmsRealmName10 prmsTitle10 prmmCont10
0   1  20210407          3  ...

[1 rows x 51 columns]

## Poll info load

### Pre poll info load

In [ ]:
get_prepoll_df(20210407, '서울특별시').head()

NameError: ignored

### Main poll info load

In [ ]:
get_mainpoll_df(20210407, '서울특별시').head()

  NUM     SG_ID  ...                          ADDR FLOOR
0   1  20210407  ...       서울특별시 관악구 장군봉길 72 (봉천동)    1층
1   2  20210407  ...     서울특별시 관악구 관악로40길 39 (봉천동)    1층
2   3  20210407  ...      서울특별시 종로구 자하문로 105 (청운동)    2층
3   4  20210407  ...     서울특별시 용산구 청파로93길 27 (서계동)  3층이상
4   5  20210407  ...  서울특별시 서대문구 북아현로22길 38 (북아현동)    2층

[5 rows x 9 columns]

# Data Preprocessing

## election_code data preprocessing

In [13]:
def election_code_preprocessing():
  data = get_election_df()
  data = data.drop('NUM', axis=1)
  data.columns = ['sgId', 'sgName', 'sgTypecode', 'sgVotedate']
  election_code = data
  election_code = election_code.astype({'sgId':int, 'sgTypecode':int, 'sgName':str})
  election_code.set_index('sgId', inplace=True)

  return election_code

In [14]:
election_code = election_code_preprocessing()

In [ ]:
election_code.head()

               sgName  sgTypecode sgVotedate
sgId
20160413  제20대 국회의원선거           0   20160413
20160413       국회의원선거           2   20160413
20160413    구·시·군의장선거           4   20160413
20160413    시·도의회의원선거           5   20160413
20160413  구·시·군의회의원선거           6   20160413

In [21]:
election_df = election_code.reset_index()

## Politician data preprocessing

In [22]:
def politician_preprocessing():
  # current politician data preprocessing
  curr_data_df = get_curr_politician_mem()
  curr_data = curr_data_df.drop(['engNm', 'hjNm', 'origNm', 'reeleGbnNm'], axis=1)
  curr_data.columns = ['deptCode', 'name', 'imageLink', 'num']

  # export dept_code for find detail politician
  dept_code = curr_data['deptCode'].unique().astype(int)

  # detail politician data preprocessing
  detail_df = pd.DataFrame()

  for deptCd in dept_code:
    detail_data = get_politician_detail(deptCd)
    detail_data['deptCode'] = deptCd
    detail_df = pd.concat([detail_df, detail_data], ignore_index=True)

  detail_data = detail_df.drop(['assemEmail','assemHomep','assemTel', 'electionNum', 'engNm', 'hjNm', 'reeleGbnNm', 'secretary', 'secretary2', 'shrtNm', 'staff', 'hbbyCd', 'examCd'], axis=1)
  detail_data.columns = ['birthday', 'name', 'memTitle', 'sggName' , 'partyName', 'deptCode']

  # column type match to database column
  curr_data = curr_data.astype({'deptCode':int})
  detail_data = detail_data.astype({'deptCode':int})

  # join the current politician and detail poloitician
  politician = pd.merge(curr_data, detail_data, how='left', on=['name', 'deptCode'])
  politician['age'] = dt.datetime.now().year - pd.to_datetime(politician['birthday']).dt.year - 1
  politician['birthday'] = pd.to_datetime(politician['birthday'], format='%Y-%m-%d')
  politician.set_index('deptCode', inplace=True)

  return politician

In [23]:
politician = politician_preprocessing()

In [24]:
len(politician)

300

## Candidate data preprocessing

In [25]:
def candidate_code_preprocessing():
  election_code = election_code_preprocessing()
  data = election_code.reset_index()  
  election_data = data[['sgId', 'sgTypecode']]

  candidate_df = pd.DataFrame()

  # concat all candidate df
  for i in range(len(election_data)):
    curr_id = election_data['sgId'][i]
    curr_code = election_data['sgTypecode'][i]
    curr_df = pd.DataFrame()

    if curr_code != 0:
      curr_df = get_candidate_df(curr_id, curr_code)
    
    candidate_df = pd.concat([candidate_df, curr_df], ignore_index=True)
  
  # candidate column change
  candidate = candidate_df.drop(['NUM', 'GIHO_SANGSE', 'HANJA_NAME', 'JOB_ID', 'EDU_ID', 'EDU', 'CAREER1', 'CAREER2', 'AGE'], axis=1)
  candidate.columns = ['sgId', 'sgTypecode', 'cnddtId', 'sggName', 'sdName', 'wiwName', 'giho', 'partyName', 'name', 'gender', 'birthday','address', 'job', 'status']

  # encoding data
  le = LabelEncoder()

  for category in ['gender', 'status']:
    candidate[category] = le.fit_transform(candidate[category])

  # giho null value
  candidate[candidate['giho'] == ''] = 1

  # type matching to sql column type
  candidate = candidate.astype({'sgId':int, 'sgTypecode':int, 'cnddtId':int, 'gender':int, 'status':int, 'giho':int})
  candidate['birthday'] = pd.to_datetime(candidate['birthday'], format='%Y-%m-%d')
  candidate.set_index('cnddtId', inplace=True)

  cndd_idx = candidate[candidate['sgId']==1].index
  candidate = candidate.drop(cndd_idx)

  return candidate

In [26]:
candidate = candidate_code_preprocessing()

In [27]:
candidate.head()

               sgId  sgTypecode sggName  ... address           job  status
cnddtId                                  ...
100118613  20160413           2     종로구  ...                   변호사       0
100119321  20160413           2     종로구  ...                  국회의원       0
100119833  20160413           2     종로구  ...          사회갈등연구소 대표이사       0
100120092  20160413           2     종로구  ...                   정당인       0
100120147  20160413           2     종로구  ...            종로구 지역 활동가       0

[5 rows x 13 columns]

In [ ]:
candidate[candidate['status'] == 1]

               sgId  sgTypecode  ...                    job status
cnddtId                          ...
100120719  20160413           2  ...      (주)우정트레킹 여행사 대표이사      1
100119306  20160413           2  ...          사회복지법인 한아름 대표      1
100123623  20180613           4  ...                     무직      1
100129996  20180613           4  ...                    정당인      1
100132227  20180613           5  ...                    정당인      1
100132579  20180613           8  ...                     농부      1
100133755  20180613           9  ...  (현)희망누림실버대학광주지사 광주지사장      1
100133726  20180613           9  ...                  사회복지사      1
100133876  20180613           9  ...            굿맘이안어린이집 원장      1
100133467  20180613           9  ...           수진동어린이집 보육교사      1
100134304  20180613           9  ...                    정당인      1
100134196  20180613           9  ...                권투체육관관장      1
100132945  20180613           9  ...                    정당인      1
100133910  20180613           9  ...                    정당인      1
100134073  20180613           9  ...                    사업가      1
100133523  20180613           9  ...                     무직      1
100132852  20180613           9  ...          세탁소(크린에이드) 대표      1
100132370  20180613           9  ...                    자영업      1
100132790  20180613           9  ...                    축산업      1
100132770  20180613           9  ...                    정당인      1
100137522  20200415           2  ...           사회디자인 연구소 소장      1
100137732  20200415           2  ...                     무직      1
100138045  20200415           7  ...                     없음      1
100138177  20200415           7  ...                    사업가      1
100138139  20200415           7  ...                     교수      1
100138192  20200415           7  ...                    정당인      1

[26 rows x 13 columns]

## Polls data preprocessing

### pre_polls data preprocessing

In [34]:
def pre_poll_preprocessing():
  sdarr = candidate['sdName'].unique()
  datearr = election_code['sgVotedate'].unique()
  
  total = pd.DataFrame()
  for dt in datearr:
    for sd in sdarr:
      try:
        cur = get_prepoll_df(dt, sd)
        total = pd.concat([total, cur], ignore_index=True)
      except:
        print(sd, 'no propoll at', dt)
  
  total.drop(['NUM'], axis=1, inplace=True)
  total.columns = ['sgId', 'evPsName', 'sdName', 'wiwName', 'emdName', 'evOrder', 'placeName','address', 'floor']  
  total = total.astype({'sgId':int, 'evOrder':int})
  total.set_index('sgId', inplace=True)
  
  return total

In [35]:
pre_poll = pre_poll_preprocessing()
pre_poll.head()

전국 no propoll at 20160413
전국 no propoll at 20170509
전국 no propoll at 20180613
서울특별시 no propoll at 20190403
부산광역시 no propoll at 20190403
대구광역시 no propoll at 20190403
인천광역시 no propoll at 20190403
광주광역시 no propoll at 20190403
대전광역시 no propoll at 20190403
울산광역시 no propoll at 20190403
세종특별자치시 no propoll at 20190403
경기도 no propoll at 20190403
강원도 no propoll at 20190403
충청북도 no propoll at 20190403
충청남도 no propoll at 20190403
전라남도 no propoll at 20190403
제주특별자치도 no propoll at 20190403
전국 no propoll at 20190403
전국 no propoll at 20200415
대구광역시 no propoll at 20210407
인천광역시 no propoll at 20210407
광주광역시 no propoll at 20210407
대전광역시 no propoll at 20210407
세종특별자치시 no propoll at 20210407
강원도 no propoll at 20210407
경상북도 no propoll at 20210407
제주특별자치도 no propoll at 20210407
전국 no propoll at 20210407

              evPsName sdName  ...                      address floor
sgId                           ...
20160413      용신동사전투표소  서울특별시  ...  서울특별시 동대문구 천호대로27길 35 (용두동)    5층
20160413      제기동사전투표소  서울특별시  ...     서울특별시 동대문구 약령시로 71 (제기동)    4층
20160413      중림동사전투표소  서울특별시  ...     서울특별시 중구 서소문로6길 16 (중림동)    3층
20160413    금호1가동사전투표소  서울특별시  ...     서울특별시 성동구 행당로 15 (금호동1가)    4층
20160413  금호2·3가동사전투표소  서울특별시  ...   서울특별시 성동구 무수막18길 1 (금호동2가)    3층

[5 rows x 8 columns]

In [ ]:
pre_poll[pre_poll['evPsName'] == '동명동사전투표소']

          evPsName sdName  ...                    address floor
sgId                       ...
20160413  동명동사전투표소  광주광역시  ...   광주광역시 동구 장동로 23-16 (동명동)    1층
20160413  동명동사전투표소    강원도  ...      강원도 속초시 동명항길 27 (동명동)    1층
20170509  동명동사전투표소  광주광역시  ...   광주광역시 동구 장동로 23-16 (동명동)    1층
20180613  동명동사전투표소  광주광역시  ...   광주광역시 동구 장동로 23-16 (동명동)    1층
20180613  동명동사전투표소   전라남도  ...  전라남도 목포시 자유로20번길 27 (동명동)    1층
20200415  동명동사전투표소  광주광역시  ...   광주광역시 동구 장동로 23-16 (동명동)    1층
20200415  동명동사전투표소   전라남도  ...  전라남도 목포시 자유로20번길 27 (동명동)    1층

[7 rows x 8 columns]

### main_polls data preprocessing

In [36]:
def main_poll_preprocessing():
  sdarr = candidate['sdName'].unique()
  datearr = election_code['sgVotedate'].unique()

  total = pd.DataFrame()
  for dt in datearr:
    for sd in sdarr:
      try:
        cur = get_mainpoll_df(dt, sd)
        total = pd.concat([total, cur], ignore_index=True)
      except:
        print(sd, 'no mainpoll at', dt)
      
  total.drop(['NUM'], axis=1, inplace=True)
  total.columns = ['sgId', 'PsName', 'sdName', 'wiwName', 'emdName', 'placeName','address', 'floor']  
  total = total.astype({'sgId':int})
  total.set_index('sgId', inplace=True)
  
  return total

In [37]:
main_poll = main_poll_preprocessing()

전국 no mainpoll at 20160413
전국 no mainpoll at 20170509
전국 no mainpoll at 20180613
서울특별시 no mainpoll at 20190403
부산광역시 no mainpoll at 20190403
대구광역시 no mainpoll at 20190403
인천광역시 no mainpoll at 20190403
광주광역시 no mainpoll at 20190403
대전광역시 no mainpoll at 20190403
울산광역시 no mainpoll at 20190403
세종특별자치시 no mainpoll at 20190403
경기도 no mainpoll at 20190403
강원도 no mainpoll at 20190403
충청북도 no mainpoll at 20190403
충청남도 no mainpoll at 20190403
전라남도 no mainpoll at 20190403
제주특별자치도 no mainpoll at 20190403
전국 no mainpoll at 20190403
전국 no mainpoll at 20200415
대구광역시 no mainpoll at 20210407
인천광역시 no mainpoll at 20210407
광주광역시 no mainpoll at 20210407
대전광역시 no mainpoll at 20210407
세종특별자치시 no mainpoll at 20210407
강원도 no mainpoll at 20210407
경상북도 no mainpoll at 20210407
제주특별자치도 no mainpoll at 20210407
전국 no mainpoll at 20210407

In [ ]:
main_poll.head()

           PsName sdName  ...                    address floor
sgId                      ...
20160413  가락2동제1투  서울특별시  ...   서울특별시 송파구 중대로20길 6 (가락동)    1층
20160413  일원본동제1투  서울특별시  ...    서울특별시 강남구 광평로20길 7(수서동)    1층
20160413  일원1동제1투  서울특별시  ...  서울특별시 강남구 양재대로55길 14(일원동)    1층
20160413  일원2동제1투  서울특별시  ...     서울특별시 강남구 개포로 607(개포동)    1층
20160413   수서동제1투  서울특별시  ...   서울특별시 강남구 광평로 301-4(수서동)    2층

[5 rows x 7 columns]

In [ ]:
main_poll[main_poll['placeName'] == '전천후 게이트볼장 (1층)']

          PsName sdName  ...                               address floor
sgId                     ...
20200415  군외면제1투   전라남도  ...  전라남도 완도군 군외면 원동1길 63-15 (원동리 1071-1)    1층
20200415  신지면제1투   전라남도  ...        전라남도 완도군 신지면 신지로 567 (대곡리 724)    1층

[2 rows x 7 columns]

## Promise data preprocessing

### collect all winner data

In [ ]:
elec = election_df[['sgId', 'sgTypecode']]

In [ ]:
winner_df = pd.DataFrame()

for i in range(len(elec)):
  sgId = elec['sgId'][i]
  sgTypecode = elec['sgTypecode'][i]

  if sgTypecode == '0' or sgTypecode == 0:
    continue
  else:
    data = get_winner_df(sgId, sgTypecode)
    winner_df = pd.concat([winner_df, data], ignore_index=True)

### extract winners with available typecode

In [ ]:
winner_with_prom = winner_df[(winner_df['SG_TYPECODE'] == '1') | 
                             (winner_df['SG_TYPECODE'] == '3') | 
                             (winner_df['SG_TYPECODE'] == '4') | 
                             (winner_df['SG_TYPECODE'] == '11')]

print(len(winner_with_prom))
winner_with_prom['SG_TYPECODE'].unique()
winner_with_prom.reset_index(drop=True, inplace=True)

281

array(['4', '1', '3', '11'], dtype=object)

### collect all promise data

In [ ]:
def get_winner_promise(wdf):
  total = pd.DataFrame()
  for i in wdf.index:
    print('\n', wdf._get_value(i, 'SG_ID'), wdf._get_value(i, 'NAME'), end='')
  
    try:
      cur = get_promise_df(wdf._get_value(i, 'SG_ID'), 
                           wdf._get_value(i, 'SG_TYPECODE'), 
                           wdf._get_value(i, 'HUBOID'))
      total = pd.concat([total, cur], ignore_index=True)
      print('exists')
    except:
      continue
  return total

### save

In [ ]:
# promise_df = get_winner_promise(winner_with_prom)
# promise_df.to_csv("winner_df.csv", mode='w')

### load

In [ ]:
#!wget https://raw.githubusercontent.com/ElectionInfo/Data_code/main/winner_df.csv &> /dev/null

promise_df = pd.read_csv("winner_df.csv")
promise_df.head(1)

   Unnamed: 0  ...                                                                                           prmmCont10
0           0  ...  국가가 국민의 생명과 안전을 책임지겠습니다\n\n□ 목 표\n ○ 깨끗하고 안전한 사회의 건설\n ○ 자연재해와 사회적 재난으로부터 국민을 보호\n ○ 미세먼지 배출량 감축...

[1 rows x 52 columns]

### parsing promises

In [ ]:
def promise_parse(prom):
  total = pd.DataFrame()
  for i in prom.index:
    for prmnum in range(1, 11):
      
      prmord = prom._get_value(i, 'prmsOrd' + str(prmnum))

      if pd.isna(prmord) == True:
        break

      prmcont = prom._get_value(i, 'prmmCont' + str(prmnum))

      # prmcont parsing

      cur = pd.DataFrame([[
                          prom._get_value(i, 'cnddtId'),
                          prmord,
                          prom._get_value(i, 'prmsTitle' + str(prmnum)),
                          prmcont
                          ]], columns=['cnddtId', 'prmOrd', 'prmTitle', 'prmCont'])
      
      total = pd.concat([total, cur], ignore_index=True)
  total = total.astype({'cnddtId':int, 'prmOrd':int})
  total.set_index('cnddtId', inplace=True)
  return total

In [ ]:
promise = promise_parse(promise_df)
promise.head()

           prmOrd  ...                                                                                              prmCont
cnddtId            ...
100120965       1  ...  일자리 확대, 국민께 드리는 최고의 선물입니다\n\n□ 목 표 \n ○ 삶의 질을 향상시키는 공공·사회 서비스 일자리 창출\n ○ 혁신적 4차 산업 경제 생태계 구축으로 좋...
100120965       2  ...  정치권력과 권력기관 개혁, 더 이상 미룰 수 없습니다\n\n□ 목 표 \n ○ 지난 이명박·박근혜 정권 9년 적폐 청산에 대한 국민 주권 명령의 이행 \n ○ 권력기관의 권...
100120965       3  ...  반부패·재벌 개혁, 대한민국이 선진국이 됩니다\n\n□ 목 표\n ○ 특권과 특혜 철폐로 공정하고 정의로운 정치·사회 환경 조성\n ○ 재벌 자본주의 사회를 혁파하여 포용적...
100120965       4  ...  민주주의와 평화를 선도하는 책임 있는 강국을 만들겠습니다\n\n□ 목 표\n ○ 유능한 안보, 강한 대한민국\n ○ 비핵화와 더불어 평화로운 한반도 구현\n ○ 당당한 협력...
100120965       5  ...  청년에게 힘이 되는 나라, 청년으로 다시 서는 나라를 만들겠습니다\n\n□ 목 표\n ○ 「청년에게 힘이 되는 나라, 청년으로 다시 서는 나라」 건설\n ○ 청년들에게 사회...

[5 rows x 3 columns]

# MySQL link to GCP

## GCP MySQL connection

In [15]:
host = '34.64.72.201'
user = 'root'
pw = 'root'
db = 'election'
port = 3306

try:
    conn = pymysql.connect(host=host, port=port, user=user, password=pw, db=db)
    engine = create_engine('mysql+mysqldb://'+user+':'+pw+'@'+host+':3306/'+db, encoding='utf-8')

except Exception as err:
    print('Connection Failed (Error msg : ' + str(err) + ')')
else:
    print('Connection  Success!')

Connection  Success!

In [16]:
connection = engine.connect()
connection

# Queries & data insert

## CREATE TABLE

In [17]:
cursor = conn.cursor()

In [ ]:
cursor

In [18]:
create_election_code = """CREATE TABLE election_code (  
    sgId INT NOT NULL,
    sgTypecode INT NOT NULL,
    sgName VARCHAR(50) NOT NULL,
    sgVotedate DATETIME NOT NULL,
    PRIMARY KEY (sgId, sgTypecode)
) default charset utf8;"""

In [38]:
create_pre_polls = """CREATE TABLE pre_polls (  
    sgId INT NOT NULL,
    sdName VARCHAR(30) NOT NULL ,
    wiwName VARCHAR(30) NOT NULL ,
    emdName VARCHAR(50) NOT NULL ,
    evOrder INT NOT NULL ,
    evPsName VARCHAR(80) NOT NULL ,
    placeName VARCHAR(100) NOT NULL ,
    `address` VARCHAR(150) NOT NULL ,
    `floor` VARCHAR(20) NOT NULL ,
    PRIMARY KEY(sgId, evPsName, placeName) ,
    FOREIGN KEY(sgId) REFERENCES election_code(sgId)
) default charset utf8;"""

In [39]:
create_main_polls = """CREATE TABLE main_polls (  
    sgId INT NOT NULL,
    sdName VARCHAR(30) NOT NULL ,
    wiwName VARCHAR(30) NOT NULL ,
    emdName VARCHAR(50) NOT NULL ,
    PsName VARCHAR(80) NOT NULL ,
    placeName VARCHAR(100) NOT NULL ,
    `address` VARCHAR(150) NOT NULL ,
    `floor` VARCHAR(20) NOT NULL ,
    PRIMARY KEY(sgId, PsName, placeName) ,
    FOREIGN KEY(sgId) REFERENCES election_code(sgId)
) default charset utf8;"""

In [ ]:
  politician.head()

         name                                    imageLink  ... partyName age
deptCode                                                    ...
9771230   강기윤  http://www.assembly.go.kr/photo/9771230.jpg  ...      국민의힘  60
9771142   강대식  http://www.assembly.go.kr/photo/9771142.jpg  ...      국민의힘  61
9771174   강득구  http://www.assembly.go.kr/photo/9771174.jpg  ...    더불어민주당  57
9771233   강민국  http://www.assembly.go.kr/photo/9771233.jpg  ...      국민의힘  49
9771283   강민정  http://www.assembly.go.kr/photo/9771283.jpg  ...     열린민주당  59

[5 rows x 8 columns]

In [28]:
create_politician = """CREATE TABLE politician (
    num INT NOT NULL ,
    `name` VARCHAR(20) NOT NULL ,
    imageLink TEXT ,
    sggName VARCHAR(35) NOT NULL ,
    deptCode INT NOT NULL ,
    memTitle LONGTEXT ,
    birthday DATETIME NOT NULL ,
    partyName VARCHAR(50),
    age INT NOT NULL ,
    PRIMARY KEY (num)
) default charset utf8;"""

In [ ]:
candidate.head()

               sgId  sgTypecode sggName  ... address           job  status
cnddtId                                  ...
100118613  20160413           2     종로구  ...                   변호사       0
100119321  20160413           2     종로구  ...                  국회의원       0
100119833  20160413           2     종로구  ...          사회갈등연구소 대표이사       0
100120092  20160413           2     종로구  ...                   정당인       0
100120147  20160413           2     종로구  ...            종로구 지역 활동가       0

[5 rows x 12 columns]

In [29]:
create_candidate = """CREATE TABLE candidate (
    cnddtId INT NOT NULL ,
    sgId INT NOT NULL ,
    sgTypecode INT NOT NULL ,
    sggName VARCHAR(35) NOT NULL ,
    sdName VARCHAR(30) NOT NULL ,
    wiwName VARCHAR(30) NOT NULL ,
    giho INT NOT NULL ,
    partyName VARCHAR(50),
    `name` VARCHAR(20) NOT NULL ,
    gender TINYINT NOT NULL ,
    `address` VARCHAR(100) ,
    job VARCHAR(100) ,
    `status` TINYINT NOT NULL ,
    birthday DATETIME NOT NULL ,
    PRIMARY KEY (cnddtId),
    FOREIGN KEY (sgId, sgTypecode) REFERENCES election_code (sgId, sgTypecode)
) default charset utf8;"""

In [44]:
create_promise = """CREATE TABLE promise (
    cnddtId INT NOT NULL ,
    prmOrd INT NOT NULL,
    prmTitle VARCHAR(100) ,
    prmCont LONGTEXT,
    PRIMARY KEY (cnddtId, prmOrd),
    FOREIGN KEY (cnddtId) REFERENCES candidate (cnddtId)
);"""

## Data insert

### election_code insert

In [19]:
cursor.execute(create_election_code)

0

In [40]:
cursor.execute(create_pre_polls)

0

In [41]:
cursor.execute(create_main_polls)

0

In [30]:
cursor.execute(create_politician)

0

In [31]:
cursor.execute(create_candidate)

0

In [45]:
cursor.execute(create_promise)

0

In [20]:
election_code.to_sql(name='election_code', con=engine, if_exists='append')

### Politician insert

In [32]:
politician.to_sql(name='politician', con=engine, if_exists='append')

### candidate insert

In [33]:
candidate.to_sql(name='candidate', con=engine, if_exists='append')

### pre_poll insert

In [42]:
pre_poll.to_sql(name='pre_polls', con=engine, if_exists='append')

### main_poll insert

In [43]:
main_poll.to_sql(name='main_polls', con=engine, if_exists='append')

### promise insert

In [ ]:
promise.to_sql(name='promise', con=engine, if_exists='append')